@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container__limiter {
    @apply container mx-auto max-w-screen-large px-4 sm:px-5 ipad:px-7 desktop:px-8;
  }
  .animate-scale {
    animation: scaling 15s infinite backwards 2s;
    transition: transform 10s;
    transform: scale(1.4);
  }

  .section__title {
    @apply text-amber-500 font-outfit text-4xl font-bold;
  }

  .grad1 {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    /* background-color: transparent; */
    background-image: radial-gradient(
      rgba(245, 159, 10, 0.502) 0%,
      rgba(245, 159, 10, 0.302) 0%,
      rgba(255, 255, 255, 0.502) 90%
    );
    box-shadow: 0px 0px 20px 20px white,
      0px 0px 40px 20px rgba(245, 159, 10, 0.302);
    border-radius: 50%;
    z-index: 1;
  }

  .anime-loader {
    animation: infinite loadAnimation 1.7s;
    transition: 1s ease-in;
  }

  .anime-glow {
    animation: infinite loadGlow 1.7s;
    transition: 1s ease-out shadow;
  }

  .mobile-show {
    @apply translate-x-0;
  }

  .skill {
    /* @apply w-[80px] h-[80px] m-2 rounded-[50%]  */
    width: 80px;
    height: 80px;
    margin: 0.5rem;
    border-radius: 50%;
    box-shadow: -3px 0px 3px 3px rgba(0, 0, 0, 0.2),
      inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5);
    transition: filter 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skill img {
    width: 70%;
    height: 70%;
  }
  .skill.ef {
    background-image: url(/images/efcore.png);
    background-position: center;
    background-size: contain;
  }

  @keyframes scaling {
    50% {
      transform: scale(1.2);
    }
    0%,
    100% {
      transform: scale(1.4);
    }
  }

  @keyframes loadAnimation {
    0%,
    100% {
      @apply -translate-y-8;
    }
    50% {
      @apply translate-y-0;
    }
  }

  @keyframes loadGlow {
    0%,
    100% {
      @apply shadow-shadow1 scale-100;
    }
    50% {
      @apply shadow-shadow2 scale-110;
    }
  }
}
